.form_title {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font-size: 60px;
  color: #bc9c22;
  text-transform: uppercase;
  letter-spacing: 6px;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

.form_inputs {
  display: flex;
  flex-direction: column;
  width: 90%;
  font-family: "Lato";
  font-weight: 400;
}
.form_inputs > input,
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 20px;
}
.form_inputs > input {
  height: 35px;
}
.send_btn {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  background: #bc9c22;
}
.send_txt {
  display: block;
  margin-top: 10px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.send_btn_alt {
  width: 400px;
  height: 34px;
  padding-top: 5px;
  transition: all 0.2s ease-in-out;
}
.send_btn_alt:hover {
  transform: translate3d(0px, -29px, 0px);
}
