.form_title {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font-size: 60px;
  color: #bc9c22;
  text-transform: uppercase;
  letter-spacing: 6px;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

.form_inputs {
  display: flex;
  flex-direction: column;
  width: 90%;
  font-family: "Lato";
  font-weight: 400;
}
.form_inputs > input,
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 20px;
}
.form_inputs > input {
  height: 35px;
}
.send_btn {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  background: #bc9c22;
}
.send_txt {
  display: block;
  margin-top: 10px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.send_btn_alt {
  width: 400px;
  height: 34px;
  padding-top: 5px;
  transition: all 0.2s ease-in-out;
}
.send_btn_alt:hover {
  transform: translate3d(0px, -29px, 0px);
}

.contact_list {
  list-style-type: none;
}
.list_item {
  display: flex;
  flex-direction: row;
  line-height: 4;
  color: #aaa;
  padding-left: 4rem;
}
.list_item > i {
  padding-right: 1rem;
}
.contact_txt {
  letter-spacing: 1.9px;
  color: #bbb;
}
.contact_txt:hover {
  color: #bc9c22;
}

.social_medias_contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 4rem;
  padding-top: 4rem;
  justify-content: space-between;
}

.social_medias_contact li a {
  color: #bc9c22;
}

.social_medias_contact li {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px;
  width: 60px;

  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social_medias_contact li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social_medias_contact li:hover {
  color: #fff;
}
.social_medias_contact li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social_medias_contact li:hover a {
  color: #4db9bd;
}
