img {
  width: 25%;
}
.nbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  color: aliceblue;
}

.nbar div {
  color: #bc9c22;
}

.nbar a {
  text-decoration: none;
}
.nbar {
  font-size: 20px;
}

/* PORTABLE */

@media (480px <= width <= 720px) {
  .nbar {
    width: 90%;
  }
  .nbar div {
    font-size: 12px;
  }
}
