img {
  width: 25%;
}
.nbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  color: aliceblue;
}

.nbar div {
  color: #bc9c22;
}

.nbar {
  font-size: 20px;
}
