@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Inconsolata&family=Orbitron:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Lora", sans-serif;
}
